@page
@model WebApplication1.Pages.MyNotes.Note_Delite
@{
    ViewData["Title"] = "Notes";
}
<h1>Delite</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Note.Mеssege" class="control-label"></label>
                <input asp-for="Note.Mеssege" class="form-control" />
                <span asp-validation-for="Note.Mеssege" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Delite" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}